.Phonetics {
    margin: 20px 0;
}

.Phonetics a {
    border: 1px solid #ddd;
    text-decoration: none;
    color:rgb(13, 110, 53);
    padding: 8px 15px;
    font-size: 13px;
    margin-right: 10px;
    margin-bottom: 100px;
    font-weight: bold;
    border-radius: 20px;
    transition: all 150ms ease-in-out;
}

.Phonetics a:hover {
    background: rgb(13, 110, 53);
    color:white;
}

.Phonetics .text {
    opacity: 0.5;
    font-weight: bold;
}